<%= form_with(model: user, class: "ui form segment error", id: "signup-form") do |form| %>

  <div class="ui error message"></div>

  <div class="field <%= 'error' if user.errors.include?(:name) %>">
    <%= form.label :name %>
    <%= form.text_field :name %>
    <% if user.errors.include?(:name) %>
      <div class="ui basic red pointing prompt label transition visible">
        <% user.errors.full_messages_for(:name).each do |error| %>
          <li style="list-style:none"><%= error %></li>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="field <%= 'error' if user.errors.include?(:email) %>">
    <%= form.label :email %>
    <%= form.text_field :email %>
    <% if user.errors.include?(:email) %>
      <div class="ui basic red pointing prompt label transition visible">
        <% user.errors.full_messages_for(:email).each do |error| %>
          <li style="list-style:none"><%= error %></li>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="field <%= 'error' if user.errors.include?(:password) %>">
    <%= form.label :password %>
    <%= form.password_field :password %>
    <% if user.errors.include?(:password) %>
      <div class="ui basic red pointing prompt label transition visible">
        <% user.errors.full_messages_for(:password).each do |error| %>
          <li style="list-style:none"><%= error %></li>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="field <%= 'error' if user.errors.include?(:password_confirmation) %>">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
    <% if user.errors.include?(:password_confirmation) %>
      <div class="ui basic red pointing prompt label transition visible">
        <% user.errors.full_messages_for(:password).each do |error| %>
          <li style="list-style:none"><%= error %></li>
        <% end %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit class: "ui primary submit button" %>
  </div>
<% end %>
