<%= form_with(model: user, class: "ui form  segment", id: "signup-form") do |form| %>

  <div class="field <%= user.errors.include?(:name) ? 'error' : '' %>">
    <%= form.label :name %>
    <div class="ui left icon input">
      <i class="user icon"></i>
      <%= form.text_field :name, placeholder: "ユーザー名" %>
    </div>

    <% if user.errors.include?(:name) %>
      <div class="ui basic red pointing prompt label transition visible">
        <% user.errors.full_messages_for(:name).each do |error| %>
          <li style="list-style:none"><%= error %></li>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="field <%= user.errors.include?(:email) ? 'error' : '' %>">
    <%= form.label :email %>
    <div class="ui left icon input">
      <i class="envelope icon"></i>
      <%= form.text_field :email, placeholder: "メールアドレス" %>
    </div>
    <% if user.errors.include?(:email) %>
      <div class="ui basic red pointing prompt label transition visible">
        <% user.errors.full_messages_for(:email).each do |error| %>
          <li style="list-style:none"><%= error %></li>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="field <%= 'error' if user.errors.include?(:password) %>">
    <%= form.label :password %>
    <div class="ui left icon input">
      <i class="lock icon"></i>
      <%= form.password_field :password, placeholder: "パスワード" %>
    </div>
    <% if user.errors.include?(:password) %>
      <div class="ui basic red pointing prompt label transition visible">
        <% user.errors.full_messages_for(:password).each do |error| %>
          <li style="list-style:none"><%= error %></li>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="field <%= 'error' if user.errors.include?(:password_confirmation) %>">
    <%= form.label :password_confirmation %>
    <div class="ui left icon input">
      <i class="lock icon"></i>
      <%= form.password_field :password_confirmation, placeholder: "パスワード（確認用）" %>
    </div>
    <% if user.errors.include?(:password_confirmation) %>
      <div class="ui basic red pointing prompt label transition visible">
        <% user.errors.full_messages_for(:password_confirmation).each do |error| %>
          <li style="list-style:none"><%= error %></li>
        <% end %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit class: "ui teal submit button" %>
    <% if !user.new_record? %>
      <%= link_to "キャンセル", user_path,  class: "ui button" %>
    <% else %>
      <%= link_to "キャンセル", users_path,  class: "ui button" %>
    <% end %>
  </div>

  <%# if user.errors.any? %>
<!--    <div class="ui error message"> -->
      <%# user.errors.each do |error| %>
<!--        <li><%#= error.full_message %></li> -->
      <%# end %>
<!--     </div>  -->
  <%# end %>

<% end %>
